<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Virtual Learning Resources</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}"></script>
</head>
<body>

<nav th:fragment="header">
    <h1 th:text="${title}">Virtual Learning Resources</h1>
    <ul>
        <li><a href="/parent">Parents</a></li>
        <li><a href="/student/index">Students</a></li>
        <li><a href="/teacher">Teachers</a></li>
    </ul>
</nav>

</body>
</html>